@import '../variables';

.inputForm{
    background-color: $white-color;
    border-radius: 50px;
    padding: 1.5rem 1rem;
    margin: 1rem 0;
    // width: (90%, min(350px));
    // width: (90%, max(500px));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 90%;
    min-width: 300px;
    max-width: 500px;
    height: 200px;
    // min-height: 200px;
    // max-height: 300px;
}

.container{
    display: flex;
    flex-direction: column;
    // place-content: center;
    min-width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0 auto;
}

.card-detail{
    display: flex;
    flex-direction: column;
    
    input{
        width: 300px;
    }
}

.btn-section{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.create-repo-btn{
    border-radius: 5px;
    color:white;          
    background-color: black;
}