@import '../variables';


ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    // gap: 1rem;

    a,label{
        font-weight: bold;
        padding: 10px;
        &:hover, &:focus{
            cursor: pointer;
        }
    }
}
.active{
    color:black
}