@import '../variables';

header{
    background-color: $secondary-color;
    .accent-text{
        color: $accent-color;
    }
    
    .container{
        max-width: 1000px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        position: relative;
        align-items: center;
        // margin:;
        padding: 0 1rem;
        font-size: $large-fnt-size;
        border-bottom: 2px;
        border-color: $accent-color;
        // max-width: 1280px;
    }

    .userDetails{
        display: flex;
        place-items: center;
        gap:1rem;
        background-color: inherit;
    }
    a{
        font-weight: bold;
        background-color: inherit;
    }
    .displayPic{
        width:2rem;
        height: 2rem;
        // background-color: black;
    }
}