$small-fnt-size:1rem;
$large-fnt-size:1.5rem;
$black-color:rgb(0, 0, 0);
$secondary-color:rgb(255, 255, 255);
$accent-color:rgb(80, 5, 80);
$white-color:#F2F2F2;


// .inherit-bg{
//     background-color: inherit;
// }