@import './variables';


*, *::before, *::after{
    margin: 0;
    padding: 0;
    // overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
}

.body{
    color: $white-color;
    background-color:$black-color;
    // display: flex;
    // align-items: center;
    // justify-content: center;
}

